/*本模板是由标准之路(www.aa25.cn)的×××制作完成*/
/*2008-8-28*/
body { font-family:Verdana; font-size:14px; margin:1px;}

#container {margin:5px auto; width:1000px;}
#header { height:70px; /* background:#9c6; */ margin-bottom:5px;}
#mainContent { height:500px; /* background:#ffa; */}
